.top-container {
    height: 70px;
    width: 1280px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc; /* 위쪽 선 */
    padding: 10px 20px; /* 컨테이너 내부 여백 */
}

.top-container .arrow-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.top-container .header-text {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.reserve-info {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    max-width: 1280px;
}

.room-detail {
    margin-top: 30px;
}

.lod-tool-bar {
    margin: 0 80px;
}

.custom-slider {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; /* 버튼 크기 */
    height: 40px;
    cursor: pointer;
}

.prev-button {
    left: 10px; /* 왼쪽 위치 */
}

.next-button {
    right: 10px; /* 오른쪽 위치 */
}

.slider-counter {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    color: white; /* 텍스트 색상 */
    padding: 5px 10px; /* 내부 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 텍스트 가운데 정렬 */
}

.room-room-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 1280px; /* 카드 전체 크기 */
    height: 368px;
    margin-top: 30px;
}
