/*
    파일명 : sellerHeader.css
    생성자 : JDeok
    날 짜  : 2024.12.23
    시 간  : 오후 2:52
    기 능  : 사장님헤더(css)
    변경사항
       - 2024.12.23 : JDeok(최초작성)
*/
.header {
    background-color: #8A5642;
    padding: 10px 20px;
    height: 60px; /* 고정 높이 */
    line-height: 40px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

.logo {
    font-family: 'Bagel Fat One', cursive;
    font-size: 30px;
    margin: 0; /* 여백 초기화 */
    color: #DDAC7E;
    display: flex;
    align-items: center;
}

.header-extra {
    font-family: 'Noto Sans', sans-serif;
    position: absolute; /* 절대 위치 고정 */
    top: 50%; /* 상하 중앙 정렬 */
    left: 50%; /* 좌우 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
    font-size: 20px;
    color: #DDAC7E;
    font-weight: bold;
    white-space: nowrap; /* 줄바꿈 방지 */
}
