@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* 전체 높이를 화면에 맞춤 */
    margin: 0;
    padding: 0;
}

.header {
    height: 260px; /* 높이 조정 */
    background-color: #8A5642; /* 배경색 설정 */
    border-bottom: 4.5px solid #352018; /* 선 추가, 색상은 예제 */
}

.logo {
    transform: translateY(69.7px); /* Y축으로 -100px 이동 */
}

.login {
    position: absolute;
    right: 36px; /* 오른쪽 정렬 */
    top: 24px; /* 상단 고정 */
    color: #352018;
    font-size: 16px;
}

.login > a {
    color: #352018;
}

.size {
    display: flex; /* Flex 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 헤더 높이에 맞춤 */
}

.menu {
    width: 1200px;
    margin: 20px auto 0; /* 상단에 간격 추가 */
    height: 40px;
}

.menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > ul > li {
    float: left; /* 메뉴 항목을 가로로 배열 */
    width: 25%; /* 메뉴 너비 설정 */
}

.menu > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 23px; /* 상하 14px, 좌우 23px 패딩 */
    border-radius: 20px;
    transition: background-color 0.3s;
    background-color: #fff; /* 기본 배경색 */
    color: #352018;
    font-weight: bold;
    font-size: 18px;
}

.menu > ul > li > a.active {
    background-color: #352018;
    color: white;
}

/*홈 home.jsp*/
.swiper {
    margin-top: 37px;
    width: 1212px; /* 슬라이드의 너비 설정 */
    height: 470px; /* 슬라이드의 높이 설정 */
}

/*.swiper-button-prev,*/
/*.swiper-button-next {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    cursor: pointer;*/
/*}*/

/*.swiper-button-next:after,*/
/*.swiper-button-prev:after {*/
/*    content: none; !* 기본 화살표 아이콘 제거 *!*/
/*}*/

/*.swiper-button-prev {*/
/*    left: 10px;*/
/*}*/

/*.swiper-button-next {*/
/*    right: 10px;*/
/*}*/

/*.paw-button {*/
/*    width: 42px;*/
/*    height: 42px;*/
/*}*/

.home_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

.home_txt > .txt_main {
    margin-bottom: 5px; /* .txt_sub와의 간격 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.container > .size {
    width: 1212px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    align-items: center;
}

.section a {
    display: block;
    line-height: 0;
}

/*서울, 경기, 인천*/
.section a:nth-child(2) img {
    margin-top: 24px;
}

.home_plus_btn {
    margin-top: 48px;
    line-height: 0;
}

.news_section {
    display: flex; /* 가로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%;
    max-width: 1200px; /* 최대 너비 설정 */
}

.news_left {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 각 아이템 사이 간격 */
}

.news_left_title {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-bottom: 17px;
}

.news_item {
    display: flex;
    align-items: center;
    gap: 15px; /* 아이콘과 텍스트 간 간격 */
}

.news_item_icon {
    line-height: 0;
}

.news_item_text {
    font-size: 18px;
    color: #352018;
    font-weight: bold;
}

.news_item_text > a {
    color: #352018;
}

.news_right {
    flex: 1; /* 오른쪽 영역 */
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.notice_section {
    margin-bottom: 120px; /* 섹션 상하 간격 */
    width: 100%; /* 전체 화면의 90% 너비 */
    max-width: 1200px; /* 최대 너비 설정 */
    flex-direction: column;
}

.notice_title {
    margin-bottom: 20px;
}

.notice_text {
    padding: 12px 0 12px 0;
}

.footer {
    width: 100%; /* 푸터의 너비를 전체로 설정 */
    text-align: center;
    border-top: 1px solid #929292; /* 상단 테두리 설정: 너비, 스타일, 색상 */
}

.footer > .size {
    height: 156px;
    margin: 0 auto;
}

.footer > .size > .info > p {
    line-height: 20px;
    color: gray;
    font-weight: bold;
    margin: 0;
}

/*구경하개 search.jsp*/
.search_txt {
    width: 100%; /* 전체 화면의 90% 너비 */
    max-width: 1200px; /* 최대 너비 설정 */
    flex-direction: column;
    margin-bottom: 26px;
}

.search_txt > .txt_main {
    margin-bottom: 5px; /* .txt_sub와의 간격 */
}

.search_filters {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin-bottom: 26px;
    white-space: nowrap;
}

.button {
    border: 1px solid #8A8A8A;
    border-radius: 4px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 18px;
    margin-right: 14px;
    cursor: pointer;
    color: #564B4B;
    font-size: 14px;
    width: auto;
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.calendar_icon {
    width: 20px;
    height: 20px;
}

select::-ms-expand {
    display: none;
}

.select {
    appearance: none; /* 기본 화살표 제거 */
    -webkit-appearance: none; /* Webkit 브라우저용 */
    -moz-appearance: none; /* Firefox 브라우저용 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 테두리 제거 */
    background-color: transparent; /* 배경색 제거 */
    padding: 10px 30px 10px 10px; /* 텍스트 위치 조정 */
    font-size: 14px;
    cursor: pointer; /* 마우스 커서 포인터 변경 */
    color: #564B4B;
}

.tab-container {
    display: flex;
    margin-bottom: 14px;
    width: 100%;
    max-width: 1200px;
}

.tab {
    flex: 1;
    padding: 12px 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    border-left: none;
}

.tab:first-child {
    border-left: none;
    border-right: 1px solid #E0E0E0;
}

.tab:last-child {
    border-right: none;
}

.tab.active {
    background: rgba(217, 217, 217, 0.5);
    color: #352018;
    font-weight: bold;
}

.tab.inactive {
    background: #FFFFFF;
    color: #8A8A8A;
}

.product-info {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}

.product-count {
    font-size: 14px;
    color: #564B4B;
    font-weight: 500;
    margin-bottom: 14px;
}

.product-text {
    font-size: 14px;
    color: #564B4B;
    margin-bottom: 14px;
}

