<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.team4.model.mapper.LodgmentMapper">
    <resultMap id="RoomResultMap" type="kr.co.team4.model.dto.RoomDTO">
        <id property="room_idx" column="room_idx"/>
        <result property="lod_idx" column="lod_idx"/>
        <result property="room_name" column="room_name"/>
        <result property="room_notice" column="room_notice"/>
        <result property="room_price" column="room_price"/>
        <result property="max_people_cnt" column="max_people_cnt"/>
        <result property="max_pet_cnt" column="max_pet_cnt"/>
        <result property="avg_rating" column="avg_rating"/>
        <result property="number_of_review" column="number_of_review"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <result property="status" column="status"/>

        <!-- 이미지 URL 리스트 매핑 -->
        <collection property="room_img_urls" ofType="java.lang.String">
            <id column="room_photo_url"/>
            <result column="room_photo_url"/>
        </collection>
    </resultMap>

    <select id="lodgmentDetail" parameterType="kr.co.team4.model.dto.LodgmentDTO" resultType="kr.co.team4.model.dto.LodgmentDTO">
        SELECT lod_img_url,
               lod_name,
               x,
               y,
               lod_address,
               seller_notice,
               reservation_notice,
               avg_rating
        FROM LODGMENT L
        WHERE lod_idx = #{lod_idx};
    </select>

    <!--lod_idx로 객실 리스트 조회 -->
    <select id="getRoomsByLodgment" parameterType="kr.co.team4.model.dto.LodgmentDTO" resultMap="RoomResultMap">
        SELECT
            r.room_idx,
            r.lod_idx,
            r.room_name,
            r.room_notice,
            r.room_price,
            r.max_people_cnt,
            r.max_pet_cnt,
            r.avg_rating,
            r.number_of_review,
            r.created,
            r.updated,
            r.status,
            p.ROOM_PHOTO_URL
        FROM ROOM r
        LEFT JOIN PHOTO p ON r.room_idx = p.room_idx AND r.lod_idx = p.lod_idx
        WHERE r.lod_idx = #{lod_idx}
    </select>

    <!-- 판매자 정보 조회 -->
    <select id="getSellerInfo" parameterType="int" resultType="kr.co.team4.model.dto.SellerDTO">
        SELECT
            SELLER.SELLER_IDX,
            SELLER.SELLER_ID,
            SELLER.SELLER_PWD,
            SELLER.SELLER_NAME,
            SELLER.SELLER_NICK_NAME,
            SELLER.SELLER_EMAIL,
            SELLER.SELLER_PHONE_NUMBER
        FROM SELLER, LODGMENT
        WHERE SELLER.SELLER_IDX = LODGMENT.SELLER_IDX
        AND LODGMENT.LOD_IDX = #{lod_idx};
    </select>

    <select id="getAvailableRooms" parameterType="map" resultMap="RoomResultMap">
        SELECT
            r.room_idx,
            r.lod_idx,
            r.room_name,
            r.room_notice,
            r.room_price,
            r.max_people_cnt,
            r.max_pet_cnt,
            r.avg_rating,
            r.number_of_review,
            r.created,
            r.updated,
            r.status,
            p.ROOM_PHOTO_URL
        FROM ROOM r
        LEFT JOIN PHOTO p ON r.room_idx = p.room_idx AND r.lod_idx = p.lod_idx
        LEFT JOIN RESERVATION res ON res.room_idx = r.room_idx AND res.lod_idx = r.lod_idx
        WHERE r.lod_idx = #{lod_idx}
        AND NOT(
            EXISTS (
                SELECT 1
                FROM RESERVATION res2
                WHERE res2.room_idx = r.room_idx
                AND res2.lod_idx = r.lod_idx
                AND (
                    ( res2.res_end_date >#{checkinDate} AND #{checkoutDate} > res2.res_str_date)
                )
            )
        )
        AND r.max_people_cnt >= #{guestCount}
        AND r.max_pet_cnt >= #{petCount}
        ORDER BY r.room_price ASC;
    </select>
</mapper>