<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.team4.model.mapper.lodRegisterMapper">

    <insert id="insertLod" parameterType="kr.co.team4.model.dto.lodRegisterDTO">
       /* ************************************************************
        *  생성자 : JDeok
        *  날 짜  : 2024.12.26
        *  시 간  : 오전 12:26
        *  기 능  : 숙소등록 저장 쿼리
        *  변경사항
        *     - 2024.12.26 : JDeok(최초작성)
        ************************************************************* */
        INSERT INTO LODGMENT                            -- 숙소
                    (
                       SELLER_IDX                       -- 사장님 IDX
                     , REGION_IDX                       -- 지역 IDX(1: 강원도 2: 경기 3: 인천)
                     , LOD_CATEGORY_IDX                 -- 숙소종류 IDX(1: 펜션 2: 글램핑)
                     , LOD_NAME                         -- 숙소이름
                     , BIZ_EMAIL                        -- 사업주 이메일
                     , BIZ_NUM                          -- 사업자번호
                     , LOD_PHONE_NUMBER                 -- 사업자전화번호
                     , LOD_IMG_URL                      -- 숙소 대표 사진URL
                     , LOD_ADDRESS                      -- 숙소주소
                     , SELLER_NOTICE                    -- 사장님알려주개
                     , RESERVATION_NOTICE               -- 예약공지
                     , LOD_CHECK_IN                     -- 체크인 시간
                     , LOD_CHECK_OUT                    -- 체크아웃 시간
                     , AVG_RATING                       -- 평균평점
                     , X                                -- 위도
                     , Y                                -- 경도
                    )
            VALUES (
                     #{seller_idx}                       -- 사장님 IDX
                   , #{region_idx}                       -- 지역 IDX(1: 강원도 2: 경기 3: 인천)
                   , #{lod_category_idx}                 -- 숙소종류 IDX(1: 펜션 2: 글램핑)
                   , #{lod_name}                         -- 숙소이름
                   , #{biz_email}                        -- 사업주 이메일
                   , #{biz_num}                          -- 사업자번호
                   , #{lod_phone_number}                 -- 사업자전화번호
                   , #{lod_img_url}                      -- 숙소 대표 사진URL
                   , #{lod_address}                      -- 숙소주소
                   , #{seller_notice}                    -- 사장님알려주개
                   , #{reservation_notice}               -- 예약공지
                   , #{lod_check_in}                     -- 체크인 시간
                   , #{lod_check_out}                    -- 체크아웃 시간
                   , #{avg_rating}                       -- 평균평점
                   , #{x}                                -- 위도
                   , #{y}                                -- 경도
                   )
    </insert>
    <select id="checktFacility" parameterType="java.lang.String" resultType="java.lang.String">
    /* ************************************************************
        *  생성자 : JDeok
        *  날 짜  : 2024.12.27
        *  시 간  : 오전 09:43
        *  기 능  : 시설/서비스 존재여부 체크
        *  변경사항
        *     - 2024.12.27 : JDeok(최초작성)
        ************************************************************* */
        SELECT IF(COUNT(LOD_FACILITY_NAME) > 0, 'Y', 'N') AS CHECK_FACILITY
        FROM LOD_FACILITY
        WHERE 1=1
          AND LOD_FACILITY_NAME = ?
    </select>

</mapper>