<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.team4.model.mapper.LoginMapper">

    <!-- 사용자 회원가입 -->
    <insert id="userinsert" parameterType="kr.co.team4.model.dto.UserDTO">
        INSERT INTO USERS (USER_NAME, NICK_NAME, USER_PHONE_NUMBER, USER_ID, USER_PWD, USER_EMAIL)
        VALUES (#{USER_NAME}, #{NICK_NAME}, #{USER_PHONE_NUMBER}, #{USER_ID}, #{USER_PWD}, #{USER_EMAIL})
    </insert>
    <!-- 사장님 회원가입 -->
    <insert id="sellerinsert" parameterType="kr.co.team4.model.dto.SellerDTO">
        INSERT INTO SELLER (SELLER_NAME, SELLER_NICK_NAME, SELLER_PHONE_NUMBER, SELLER_ID, SELLER_PWD, SELLER_EMAIL)
        VALUES (#{SELLER_NAME}, #{SELLER_NICK_NAME}, #{SELLER_PHONE_NUMBER}, #{SELLER_ID}, #{SELLER_PWD}, #{SELLER_EMAIL})
    </insert>
    <!-- 사용자 아이디 체크 -->
    <select id="ID_CHECK" resultType="int">
        SELECT COUNT(*) FROM USERS WHERE USER_ID = #{USER_ID}
    </select>
    <!-- 사장님 아이디 체크 -->
    <select id="SELLER_ID_CHECK" resultType="int">
        SELECT COUNT(*) FROM SELLER WHERE SELLER_ID = #{SELLER_ID}
    </select>

    <!-- 사용자 로그인 -->
    <select id="userlogin" resultType="kr.co.team4.model.dto.UserDTO">
        SELECT USER_ID, USER_IDX FROM USERS WHERE USER_ID = #{USER_ID} AND USER_PWD = #{USER_PWD}
    </select>

    <!-- 사장님 로그인 -->
    <select id="sellerlogin" resultType="kr.co.team4.model.dto.SellerDTO">
        SELECT SELLER_IDX FROM SELLER WHERE SELLER_ID = #{SELLER_ID} AND SELLER_PWD = #{SELLER_PWD}
    </select>

</mapper>