<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.team4.model.mapper.ReservationMapper">

    <insert id="reserveAdd" parameterType="kr.co.team4.model.dto.ReservationDTO" >
        insert into RESERVATION (
            lod_idx,room_idx, user_idx, res_merchant_id, res_name, res_phone_number,
            res_str_date, res_end_date, res_people_cnt, res_pets_cnt,
            request, status
        ) values (
            #{lod_idx}, #{room_idx}, #{user_idx}, #{res_merchant_id} ,#{res_name}, #{res_phone_number},
            #{res_str_date}, #{res_end_date}, #{res_people_cnt}, #{res_pets_cnt},
            #{request},#{status}
        )
    </insert>

    <select id="getUserInform" parameterType="kr.co.team4.model.dto.ReservationDTO" resultType="kr.co.team4.model.dto.UserDTO">
        select user_name, user_email, user_phone_number
        from USERS
        where user_idx = #{user_idx}
    </select>

    <select id="getUserReservations" parameterType="kr.co.team4.model.dto.UserReservedDTO" resultType="kr.co.team4.model.dto.UserReservedDTO">
        select  r.user_idx, r.reservation_idx, r.lod_idx, r.room_idx,
                l.lod_name, lc.lod_category_name,
                rm.room_name, rm.room_price, rm.room_img_url,
                r.res_merchant_id, r.res_name, r.res_phone_number, r.res_str_date,
                r.res_end_date, r.res_people_cnt, r.res_pets_cnt, r.request, l.status
        from RESERVATION r, LODGMENT l, LOD_CATEGORY lc, ROOM rm
        where r.user_idx = #{user_idx}
          and r.lod_idx = l.lod_idx
          and r.room_idx = rm.room_idx
          and l.lod_category_idx = lc.lod_category_idx
    </select>

</mapper>